@import url(variaveis.css);

body {
    font-family: 'Italiana', serif;
}

.cabecalho {
    top: 20px;
    display: flex;
    justify-content: space-between;
    padding: 15px 200px 0;
    align-items: center;
    margin-bottom: 10px;
}

.logo__botao {
    cursor: pointer;
    border: 0px;
    padding: 0px;
    background: none;
    border-radius: 4px;
}

.botao__cabecalho {
    border: none;
    padding: 10px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
    background-color: var(--cinza);
}

.banner {
    display: flex;
    background-image: url(/assets/img/principal.png);
    width: 100%;
    height: 256px;
    font-size: 42px;
    color: #FAFAFA;
    align-items: center;
}

.banner__titulo {
    top: 50%;
    padding-left: 200px;
}

.principal__container {
    padding: 10px 200px 0;
}

#cardapio__titulo {
    font-size: 36px;
    margin-top: 40px;
}

.campo__pesquisa {
    margin-top: 40px;
    border: 10px var(--cinza) solid;
    padding: 0 15px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    background: var(--cinza);
    border-radius: 4px;
    background-image: url(/assets/img/lupa.svg);
    background-repeat: no-repeat;
    background-position: right;
}

#menu__cardapio {
    margin: 20px 0 40px;
}

#menu__cardapio ul li {
    display: inline;
    font-weight: bold;
}

#menu__cardapio ul li a  {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 15px 40px;
    background-color: var(--cinza);
    cursor: pointer;
    border-radius: 4px;
    margin-right: 20px;
}

#menu__cardapio ul li #filtro {
    border: none;
    background-color: var(--cinza);
    cursor: pointer;
    font-family: Italiana, sans-serif;
    font-size: 16px;
    font-weight:bold;
}

#menu__cardapio ul li:last-child a {
    float: right;
    margin-right: 0px;
}

.titulo__pratos {
    font-size: 26px;
    margin-bottom: 10px;
}

.cardapio__p {
    font-family: 'Josefin Sans', sans-serif;
    color: #242536
}

.cardapio__lista {
    font-family: 'Josefin Sans', sans-serif;
}

.cardapio__lista {
    align-items: center
}

.cardapio__lista .massas {
    padding: 10px 20px;
    border-radius: 4px
}

.cardapio__lista .preco {
    color: var(--coral);
    font-size: 24px;
    font-family: Italiana, sans-serif;
}

.tipo__de__prato {
    background-color: var(--coral);
    color: #FAFAFA;
    padding: 10px 25px;
    border-radius: 4px;
}

.container__menu__cardapio .container__menu__prato {
    display: flex;
}

.container__menu__prato {
    width: 750px;
    margin-bottom: 50px;
}

.cardapio__imagem {
    margin-right: 20px;
}

.cardapio__texto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.titulo__pratos{    
    line-height: 40px;
}

.cardapio__lista {
    display: flex;
    justify-content: space-between;


}

.rodape {
    display: block;
    width: 100%;
    height: 100px;
    margin-top: 60px;
    background-color: var(--coral);
}

.logo__botao__rodape {
    float: right;
    margin-right: 150px;
    padding-top: 20px;
}
