:root {
    --branco: #FAFAFA;
    --cinza: #F5F5F5;
    --coral: #D73B3B;
    --cinza-icones: #EBEBEB;

    --cortexto: #292B43;
    --fundo: #FFFFFF;
    --banner: url(./img/principal.png);
}

.dark {
    --cortexto: #FFFFFF;
    --fundo: #343953;
    --banner: url(./img/principal-modo-escuro.jpg);
}

